*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: hsl(48, 18%, 83%);
}

.examples {
  padding: 3rem;
  max-width: 1200px;
  display: flex;
  gap: clamp(2rem, 8vw, 4rem);
}

button {
  background: transparent;
  border: 10px solid var(--button-color, #000);
  border-radius: 1rem;
}

/* ! Button one */
.button-one {
  /* todo изменение цвета рамки гамбургера */
  --button-color: #333;
  /* --button-color: blue; */
}

.button-one .line {
  /* fill: red; */
  transition: 
    y 300ms ease-in 300ms,
    rotate 300ms ease-in 300ms,
    opacity 0ms 300ms;
  transform-origin: center;
}

.button-one:hover .line {
  transition: 
    y 300ms ease-in 300ms,
    rotate 300ms ease-in 300ms,
    opacity 0ms 300ms;
}

.button-one:hover :is(.top, .bottom) {
  y: 45;
}

.button-one:hover .top {
  rotate: 45deg;
}

.button-one:hover .middle {
  opacity: 0;
}

.button-one:hover .bottom {
  rotate: -45deg;
}

/* ! Button two */
.button-two {
  --button-color: #232;
}

.button-two .line {
  transition: stroke-dashoffset 1s;
}

.button-two:hover .line {
  stroke-dashoffset: 79.9;
}

@keyframes to-close-icon {
  
}
